img{
    width: 200px;
    height: 200px;
}

#row1{
    margin-left: 350px;
}

#row2{
    margin-left: 200px;
}

#inputArea{
    margin-left: 302px;
    margin-top: 10px;
}
 body{
     background-image: url(../images/punk.jpg)
 }

 .shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

#test{
    color: indianred;

    margin-left: 200px;
}

.jumbotron{
    font-style: impact;
    font-weight: bolder;
    background-image: url(../images/Graf.jpg) 
}

ul{
    color: red;
    font-weight: bolder;
    font-size: 25px;
}

.red-text{
    font-size: 30px;
    color: red;
    font-weight: bolder;
    
}

.number{
    font-size: 20px;
    color: red;
}

#guesses{
    color: red;
    font-weight: bolder;
    font-size: 40px;
}

#button{
    border-radius: 50%;
}

button:hover {
    background-color: red;
    color:greenyellow;
}